.cardlist {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 300px;
  &__droppable {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}
